AdincoApp/APP_Adinco/APP_Adinco/Connected Services/LocalAdincoService/Service113.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mobile.adinco.mx/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://mobile.adinco.mx/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AdincoWCFTest" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaNombres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaNombresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaNombresResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamePrueba">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamePruebaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNamePruebaResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLoginBool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLoginBoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateLoginBoolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AdincoWCFTest" minOccurs="0" name="composite" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AdincoWCFTest" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraeNombreUsu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraeNombreUsuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExtraeNombreUsuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraeIDUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraeIDUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExtraeIDUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdAprobacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdAprobacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdAprobacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAprobacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAprobacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTipoAprobacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusAprobacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusAprobacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusAprobacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombreTareaAprobacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombreTareaAprobacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNombreTareaAprobacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetdescripcionAprobacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetdescripcionAprobacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetdescripcionAprobacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoAprobacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoAprobacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentoAprobacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioContra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioContraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambioContraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AprobarSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RechazarSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DetalleSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdAprobacionn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
        <xs:element minOccurs="0" name="estatus" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdAprobacionnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdAprobacionnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAprobacionn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
        <xs:element minOccurs="0" name="estatus" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAprobacionnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTipoAprobacionnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusAprobacionn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
        <xs:element minOccurs="0" name="estatus" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusAprobacionnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusAprobacionnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombreTareaAprobacionn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
        <xs:element minOccurs="0" name="estatus" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombreTareaAprobacionnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNombreTareaAprobacionnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetdescripcionAprobacionn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
        <xs:element minOccurs="0" name="estatus" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetdescripcionAprobacionnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetdescripcionAprobacionnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoAprobacionn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
        <xs:element minOccurs="0" name="estatus" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoAprobacionnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentoAprobacionnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumPendientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumPendientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumPendientesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdAprobacionPendiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdAprobacionPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdAprobacionPendienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAprobacionPendiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAprobacionPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTipoAprobacionPendienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusAprobacionPendiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusAprobacionPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusAprobacionPendienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombreTareaAprobacionPendiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombreTareaAprobacionPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNombreTareaAprobacionPendienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetdescripcionAprobacionPendiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetdescripcionAprobacionPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetdescripcionAprobacionPendienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetdocumentoAprobacionPendiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetdocumentoAprobacionPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetdocumentoAprobacionPendienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioCorreoCambioContra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioCorreoCambioContraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvioCorreoCambioContraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambioNombreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertafotoString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertafotoStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertafotoStringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertafotoP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertafotoPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertafotoPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extraeFoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extraeFotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="extraeFotoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extraeFotoS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extraeFotoSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="extraeFotoSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertafoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertafotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertafotoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>